.chooseSet{
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 10px;
  button{
    padding: 10px;
    cursor: pointer;
  }
  .activeButton{
    background-color: red;
  }
}